Package: enigma2-plugin-extensions-oaweather
Version: 4.0
Description: OAWeather Converter and Renderer to display Weather in Skin
Section: extra
Priority: optional
Maintainer: jbleyel
License: GPL-3.0-only
Architecture: all
OE: enigma2-plugin-extensions-oaweather
Source: enigma2-plugin-extensions-oaweather.bb
